.copyright_post {
  width: 85%;
  max-width: 45em;
  margin: 2.8em auto 0;
  padding: 0.5em 1em;
  border: 1px solid #d3d3d3;
  font-size: 1.5rem;
  line-height: 1.6em;
  word-break: break-all;
  background: rgba(255,255,255,0.4);
}
.copyright_post p {
  margin: 0;
}
.copyright_post span {
  display: inline-block;
  width: 5.2em;
  color: #b5b5b5;
  font-weight: bold;
}
.copyright_post .raw {
  margin-left: 1em;
  width: 5em;
}
.copyright_post a {
  color: #808080;
  border-bottom: 0;
}
.copyright_post a:hover {
  color: #a3d2a3;
  text-decoration: underline;
}
.copyright_post:hover .fa-clipboard {
  color: #000;
}
.copyright_post .post-url:hover {
  font-weight: normal;
}
.copyright_post .copy-path {
  margin-left: 1em;
  width: 1em;
mobile()
}
.copyright_post .copy-path:hover {
  color: #808080;
  cursor: pointer;
}
