.qrcode {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  flex-wrap: wrap;
}
.qrcode-tem {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.qrcode-item-img {
  width: 250px;
  height: 250px;
  min-width: 200px;
}
.qrcode-item-text {
  color: #49b1f5;
  font-size: 14px;
  text-align: center;
}
